@page "/"
@using TRPO_Coursework.Services
@inject SimulationService Simulation
@implements IDisposable

<PageTitle>ЦУМ: Симуляція кас</PageTitle>

<p>Черга: @Simulation.Queue.Count</p>
<p>Обслужено: @Simulation.TotalCustomersServed</p>

<h4>Каси</h4>
@foreach (var item in Simulation.CashDesks)
{
	<div>
    Каса @(item.Id): @(item.IsBusy ? $"Покупець #{item.CurrentCustomer.Id}" : "Вільна")
</div>
}

<p/>

<button class="btn btn-primary" @onclick="() => Simulation.Start()">Старт</button>
<button class="btn btn-primary" @onclick="() => Simulation.Stop()">Стоп</button>

@code {
	private Action? handler;

	protected override void OnInitialized()
	{
		handler = async () => await InvokeAsync(StateHasChanged);
		Simulation.OnChange += handler;
		Simulation.Start();
	}

	public void Dispose()
	{
		if (handler != null)
			Simulation.OnChange -= handler;
	}
}